PasswordAuthentication {{ PasswordAuthentication }}
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
PermitRootLogin {{ PermitRootLogin }}

ClientAliveInterval 300
ClientAliveCountMax 2

